
span.chat-badge {
    background-size: 1.8rem;
    background-repeat: no-repeat;
    border-radius: 0.2rem;
    display: inline-block;
    min-width: 1.8rem;
    height: 1.8rem;
    margin: 0 0.3rem 0.2rem 0;
    background-position: center;
    vertical-align: middle;
}

span.chat-badge.partner {
    background-image: -webkit-image-set(url(https://cdn.frankerfacez.com/static/badges/twitch/2/partner/1/1.png) 1x, url(https://cdn.frankerfacez.com/static/badges/twitch/2/partner/1/2.png) 2x, url(https://cdn.frankerfacez.com/static/badges/twitch/2/partner/1/4.png) 4x);
}

.chat-badge.partner {
    color: rgb(242, 240, 237);
    background-color: rgb(60, 0, 165);
}


span.chat-badge.mod {
    background-image: -webkit-image-set(url(https://cdn.frankerfacez.com/static/badges/twitch/2/moderator/1/1.png) 1x, url(https://cdn.frankerfacez.com/static/badges/twitch/2/moderator/1/2.png) 2x, url(https://cdn.frankerfacez.com/static/badges/twitch/2/moderator/1/4.png) 4x);
}

.chat-badge.mod {
    color: rgb(242, 240, 237);
    background-color: rgb(0, 139, 0);
}

span.chat-badge.vip {
    background-image: -webkit-image-set(url(https://cdn.frankerfacez.com/static/badges/twitch/2/vip/1/1.png) 1x, url(https://cdn.frankerfacez.com/static/badges/twitch/2/vip/1/2.png) 2x, url(https://cdn.frankerfacez.com/static/badges/twitch/2/vip/1/4.png) 4x);
}

.chat-badge.vip {
    color: rgb(255, 255, 255);
    background-color: rgb(224, 5, 185);
}

span.chat-badge.broadcaster {
    background-image: -webkit-image-set(url(https://cdn.frankerfacez.com/static/badges/twitch/2/broadcaster/1/1.png) 1x, url(https://cdn.frankerfacez.com/static/badges/twitch/2/broadcaster/1/2.png) 2x, url(https://cdn.frankerfacez.com/static/badges/twitch/2/broadcaster/1/4.png) 4x);
}

.chat-badge.broadcaster {
    color: rgb(255, 255, 255);
    background-color: rgb(233,25,22);
}
