
#top-chat {
  height: 85vh;
  overflow-y: auto;

  li {
    text-align: left;
    a.username {
      text-decoration: none;
    }
  }
}



@media screen and (max-width: 897px) {
  #top-chat {
    height: 74vh;
  }
}

@media screen and (max-width: 767px) {
  #top-chat {
    height: 80vh;
  }
}


@media screen and (max-width: 721px) {
  #top-chat {
    height: 35vh;
  }
}
