
#header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: center;

  #streamer-input {
    width: 50%;
    height: 2em;
    margin-right: 1em;
  }

  #enter-btn {
    white-space: nowrap;
    height: 35px;
  }

  #streamer-name {
    margin-left: auto;
    font-size: 100%;
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  #header {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
